@page
@model CheckModel
@{
    ViewData["Title"] = "Check";
}
<h1>@ViewData["Title"]</h1>

<form method="post" >
        <fieldset>
          <legend>Password</legend>
          <div>
            <label for="password">Unesite lozinku:</label>
            <input type="password" name="password" value="" />
          </div>
          <div>
            <label>&nbsp;</label>
            <input type="submit" value="Provjeri" class="submit" />
          </div>
        </fieldset>
      </form>

<a>@Model.passwordQuality</a>
